<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleName</key>
	<string>MacOSX_MeV_4_1</string>
	<key>CFBundleVersion</key>
	<string>10.2</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>GenericJavaApp.icns</string>
	<key>Java</key>
	<dict>
		<key>VMOptions</key>
		<string>-Xmx1024m</string>
		<key>MainClass</key>
		<string>org.tigr.microarray.mev.TMEV</string>
		<key>JVMVersion</key>
		<string>1.5+</string>
		<key>ClassPath</key>
			<array>
			 <string>$JAVAROOT/activation.jar</string>
			 <string>$JAVAROOT/AutomaticLayout.jar</string>
			 <string>$JAVAROOT/base64.jar</string>
			 <string>$JAVAROOT/biojava-1.4.jar</string>
			 <string>$JAVAROOT/biopax.jar</string>
			 <string>$JAVAROOT/browser.jar</string>
			 <string>$JAVAROOT/coltginy.jar</string>
			 <string>$JAVAROOT/colt.jar</string>
			 <string>$JAVAROOT/comcgh.jar</string>
			 <string>$JAVAROOT/commons-cli-1.x-cytoscape-custom.jar</string>
			 <string>$JAVAROOT/commons-net-1.4.1.jar</string>
			 <string>$JAVAROOT/com-nerius-math-xform.jar</string>
			 <string>$JAVAROOT/concurrent.jar</string>
			 <string>$JAVAROOT/cPath.jar</string>
			 <string>$JAVAROOT/cytoscape-cruft-obo.jar</string>
			 <string>$JAVAROOT/CytoscapeEditor.jar</string>
			 <string>$JAVAROOT/cytoscape-geom-rtree.jar</string>
			 <string>$JAVAROOT/cytoscape-geom-spacial.jar</string>
			 <string>$JAVAROOT/cytoscape-graph-dynamic.jar</string>
			 <string>$JAVAROOT/cytoscape-graph-fixed.jar</string>
			 <string>$JAVAROOT/cytoscape.jar</string>
			 <string>$JAVAROOT/cytoscape-render-export.jar</string>
			 <string>$JAVAROOT/cytoscape-render-immed.jar</string>
			 <string>$JAVAROOT/cytoscape-render-stateful.jar</string>
			 <string>$JAVAROOT/cytoscape-task.jar</string>
			 <string>$JAVAROOT/cytoscape-util-intr.jar</string>
			 <string>$JAVAROOT/dialogHelp.jar</string>
			 <string>$JAVAROOT/ding.jar</string>
			 <string>$JAVAROOT/educgh.jar</string>
			 <string>$JAVAROOT/examples.jar</string>
			 <string>$JAVAROOT/exesto.jar</string>
			 <string>$JAVAROOT/filter.jar</string>
			 <string>$JAVAROOT/filters.jar</string>
			 <string>$JAVAROOT/fing.jar</string>
			 <string>$JAVAROOT/freehep-export-2.0.3.jar</string>
			 <string>$JAVAROOT/freehep-graphics2d-2.0.jar</string>
			 <string>$JAVAROOT/freehep-graphicsio-2.0.jar</string>
			 <string>$JAVAROOT/freehep-graphicsio-emf-2.0.jar</string>
			 <string>$JAVAROOT/freehep-graphicsio-pdf-2.0.jar</string>
			 <string>$JAVAROOT/freehep-graphicsio-ps-2.0.jar</string>
			 <string>$JAVAROOT/freehep-graphicsio-svg-2.0.jar</string>
			 <string>$JAVAROOT/freehep-graphicsio-swf-2.0.jar</string>
			 <string>$JAVAROOT/freehep-io-2.0.1.jar</string>
			 <string>$JAVAROOT/freehep-swing-2.0.2.jar</string>
			 <string>$JAVAROOT/freehep-util-2.0.1.jar</string>
			 <string>$JAVAROOT/freehep-xml-2.0.1.jar</string>
			 <string>$JAVAROOT/ftpbean.jar</string>
			 <string>$JAVAROOT/getopt.jar</string>
			 <string>$JAVAROOT/giny.jar</string>
			 <string>$JAVAROOT/glf.jar</string>
			 <string>$JAVAROOT/GraphMerge.jar</string>
			 <string>$JAVAROOT/HTTPClient.jar</string>
			 <string>$JAVAROOT/images.jar</string>
			 <string>$JAVAROOT/itext-2.0.4.jar</string>
			 <string>$JAVAROOT/j3daudio.jar</string>
			 <string>$JAVAROOT/j3dcore.jar</string>
			 <string>$JAVAROOT/j3dutils.jar</string>
			 <string>$JAVAROOT/jai_codec.jar</string>
			 <string>$JAVAROOT/jai_core.jar</string>
			 <string>$JAVAROOT/jama.jar</string>
			 <string>$JAVAROOT/jaxb-api.jar</string>
			 <string>$JAVAROOT/jaxb-impl.jar</string>
			 <string>$JAVAROOT/jaxp.jar</string>
			 <string>$JAVAROOT/jbcl.jar</string>
			 <string>$JAVAROOT/jconn2.jar</string>
			 <string>$JAVAROOT/jdom-1.0.jar</string>
			 <string>$JAVAROOT/jdom.jar</string>
			 <string>$JAVAROOT/jfreechart-0.9.20.jar</string>
			 <string>$JAVAROOT/jfreechart-common-0.9.5.jar</string>
			 <string>$JAVAROOT/jhall.jar</string>
			 <string>$JAVAROOT/jnlp.jar</string>
			 <string>$JAVAROOT/JSciCore.jar</string>
			 <string>$JAVAROOT/JSciPartial.jar</string>
			 <string>$JAVAROOT/jsr173_1.0_api.jar</string>
			 <string>$JAVAROOT/junit.jar</string>
			 <string>$JAVAROOT/l2fprod-common-all.jar</string>
			 <string>$JAVAROOT/linkout.jar</string>
			 <string>$JAVAROOT/looks-2.1.4.jar</string>
			 <string>$JAVAROOT/mail.jar</string>
			 <string>$JAVAROOT/ManualLayout.jar</string>
			 <string>$JAVAROOT/mev-algorithm-impl.jar</string>
			 <string>$JAVAROOT/mev-algorithm-support.jar</string>
			 <string>$JAVAROOT/mev-base.jar</string>
			 <string>$JAVAROOT/mev-gui-impl.jar</string>
			 <string>$JAVAROOT/mev-gui-support.jar</string>
			 <string>$JAVAROOT/mev-util.jar</string>
			 <string>$JAVAROOT/normalization.jar</string>
			 <string>$JAVAROOT/parser.jar</string>
			 <string>$JAVAROOT/phoebe.jar</string>
			 <string>$JAVAROOT/piccolo.jar</string>
			 <string>$JAVAROOT/piccolox.jar</string>
			 <string>$JAVAROOT/psi_mi.jar</string>
			 <string>$JAVAROOT/quick_find.jar</string>
			 <string>$JAVAROOT/SBMLReader.jar</string>
			 <string>$JAVAROOT/servlet.jar</string>
			 <string>$JAVAROOT/soap.jar</string>
			 <string>$JAVAROOT/swing-layout-1.0.1.jar</string>
			 <string>$JAVAROOT/swingx-2006_10_27.jar</string>
			 <string>$JAVAROOT/swt.jar</string>
			 <string>$JAVAROOT/TableImport.jar</string>
			 <string>$JAVAROOT/tclib.jar</string>
			 <string>$JAVAROOT/Text_JDBC30.jar</string>
			 <string>$JAVAROOT/tools.jar</string>
			 <string>$JAVAROOT/undo.support.jar</string>
			 <string>$JAVAROOT/vecmath.jar</string>
			 <string>$JAVAROOT/violinstrings-1.0.2.jar</string>
			 <string>$JAVAROOT/vizmap.props</string>
			 <string>$JAVAROOT/weka.jar</string>
			 <string>$JAVAROOT/weka_new.jar</string>
			 <string>$JAVAROOT/wizard.jar</string>
			 <string>$JAVAROOT/xerces.jar</string>
			 <string>$JAVAROOT/xml-apis.jar</string>
			 <string>$JAVAROOT/yLayouts.jar</string>
			</array>
	</dict>
</dict>
</plist>
