<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>MeV_4_4</string>
	<key>CFBundleVersion</key>
	<string>10.2</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>GenericJavaApp.icns</string>
	<key>LSArchitecturePriority</key>
	<array>
	    <string>i386</string>
	    <string>ppc</string>
	</array>
	<key>LSEnvironment</key>
	<dict>
		<key>R_HOME</key>
		<string>/Library/Frameworks/R.framework/Resources</string>
	</dict>
	<key>Java</key>
	<dict>
		<key>VMOptions</key>
		<string>-Xmx1024m -Xss1M</string>
		<key>MainClass</key>
		<string>org.tigr.microarray.mev.TMEV</string>
		<key>JVMVersion</key>
		<string>1.5+</string>
		<key>Properties</key>
		<dict>
			<key>java.library.path</key>
			<string>$JAVAROOT</string>
		</dict>
		<key>ClassPath</key>
			<array>		 
			 <string>$JAVAROOT/args4j-2.0.9.jar</string> 	 
			 <string>$JAVAROOT/base64.jar</string> 	 
			 <string>$JAVAROOT/boss.jar</string> 	 
			 <string>$JAVAROOT/colt.jar</string>
			 <string>$JAVAROOT/comcgh.jar</string> 
			 <string>$JAVAROOT/commons-net-1.4.1.jar</string> 
			 <string>$JAVAROOT/dialogHelp.jar</string>
			 <string>$JAVAROOT/educgh.jar</string>
			 <string>$JAVAROOT/examples.jar</string>
			 <string>$JAVAROOT/ftpbean.jar</string>
			 <string>$JAVAROOT/goose.jar</string>
			 <string>$JAVAROOT/HTTPClient.jar</string>
			 <string>$JAVAROOT/images.jar</string>
			 <string>$JAVAROOT/j3daudio.jar</string>
			 <string>$JAVAROOT/j3dcore.jar</string>
			 <string>$JAVAROOT/j3dutils.jar</string>
			 <string>$JAVAROOT/jai_codec.jar</string>
			 <string>$JAVAROOT/jai_core.jar</string>
			 <string>$JAVAROOT/jama.jar</string>
			 <string>$JAVAROOT/jaxp.jar</string>
			 <string>$JAVAROOT/jbcl.jar</string>
			 <string>$JAVAROOT/jconn2.jar</string>
			 <string>$JAVAROOT/tclib.jar</string>
			 <string>$JAVAROOT/jdom.jar</string>
			 <string>$JAVAROOT/jfreechart-0.9.20.jar</string>
			 <string>$JAVAROOT/jfreechart-common-0.9.5.jar</string>
			 <string>$JAVAROOT/jsch-0.1.39.jar</string>
			 <string>$JAVAROOT/JSciCore.jar</string>
			 <string>$JAVAROOT/JSciPartial.jar</string>
			 <string>$JAVAROOT/JRI.jar</string>
			 <string>$JAVAROOT/magetab-parser.jar</string>
			 <string>$JAVAROOT/mail.jar</string>
			 <string>$JAVAROOT/mev-algorithm-impl.jar</string>
			 <string>$JAVAROOT/mev-algorithm-support.jar</string>
			 <string>$JAVAROOT/mev-base.jar</string>
			 <string>$JAVAROOT/mev-gui-impl.jar</string>
			 <string>$JAVAROOT/mev-gui-support.jar</string>
			 <string>$JAVAROOT/mev-util.jar</string>
			 <string>$JAVAROOT/normalization.jar</string>
			 <string>$JAVAROOT/parser.jar</string>
			 <string>$JAVAROOT/piccolo.jar</string>
			 <string>$JAVAROOT/piccolox.jar</string>
			 <string>$JAVAROOT/servlet.jar</string>
			 <string>$JAVAROOT/soap.jar</string>
			 <string>$JAVAROOT/swt.jar</string>
			 <string>$JAVAROOT/tar.jar</string>
			 <string>$JAVAROOT/Text_JDBC30.jar</string>
			 <string>$JAVAROOT/tools.jar</string>
			 <string>$JAVAROOT/vecmath.jar</string>
			 <string>$JAVAROOT/weka.jar</string>
			 <string>$JAVAROOT/xerces.jar</string>
			 <string>$JAVAROOT/xml-apis.jar</string>
			</array>
	</dict>
</dict>
</plist>
